import(R2HTML, Biobase, affy, minpack.lm)

export(estimerrors,
       fitgene,
       HVDMcheck,
       HVDMreport,
       screening,
       training,
       training.nl,
       screening.nl,
       fitgene.nl,
       fitgene.lin,
       ".exportfree",
       ".importfree"
       )       
