import(R2HTML, Biobase, affy, minpack.lm)

export(estimerrors,
       fitgene,
       HVDMcheck,
       HVDMreport,
       screening,
       training,
       ".exportfree",
       ".importfree"
       )       